# Ignore the helpsearch folder which contains new randomly named files after help integration
/docs/html/helpsearch-v3
/docs/html/helpsearch-v4_en/

# Ignore table of content for help integration generated during installation
/docs/html/helptoc.xml

# Ignore custom_toolbox.json
docs/html/custom_toolbox.json

# Ignore the temporary file directory in the data folder
/data/temp

# Ignore dicom files
*.dcm

#Ignore MATLAB temporary files
*.asv

#Ignore .backup files
*.backup
