# Ignore the helpsearch folder which contains new randomly named files after help integration
/docs/html/helpsearch-v3

# Ignore the temporary file directory in the data folder
/data/temp

# Ignore dicom files
*.dcm
