<ul class="links">
  {% for item in site.navigation %}
      {% assign class = nil %}
      {% if page.url contains item.url and item.url != '/' %}
          {% assign class = 'active' %}
      {% endif %}
      {% if page.url == '/' and item.url == '/' %}
          {% assign class = 'active' %}
      {% endif %}
      {% assign prefix = site.baseurl %}
      {% if item.url contains 'http://' or item.url contains 'https://' %}
        {% assign prefix = nil %}
      {% endif %}
      <li><a href="{{ prefix }}{{ item.url }}" class="{{ class }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
